<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page">
  {{ page.content }}

  {{ pages.green-2.content }}
  {% comment %}
  {{ pages.green-3.content }}
  {{ pages.green-4.content }}
  {% endcomment %}
</div>