<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page">
  {{ page.content }}
 
  {{ pages.where-to-buy-2.content }}
  {{ pages.where-to-buy-3.content }}
  {{ pages.where-to-buy-4.content }}
  
</div>